# Exercises: Level 1

### 1. Iterate 0 to 10 using for loop, do the same using while loop.

In [29]:
for number in range(11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

In [30]:
n = 0
while n <= 10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9
10

### 2. Iterate 10 to 0 using for loop, do the same using while loop.

In [31]:
for i in range(11):
    print(10 - i)

10
9
8
7
6
5
4
3
2
1
0

In [32]:
n = 10
while n != -1:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1
0

### 3. Write a loop that makes seven calls to print(), so we get on the output the following triangle

In [33]:
  #
  ##
  ###
  ####
  #####
  ######
  #######

In [34]:
for i in range(1, 8):
    print("#" * i)

#
##
###
####
#####
######
#######

### 4. Use nested loops to create the following:

In [35]:
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [36]:
for i in range(1, 6):
    for j in range(1, 11):
        print("#", end="")
    print()

##########
##########
##########
##########
##########

### 5. Print the following pattern:

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [23]:
for i in range(11):
    print(f"{i} x {i} = {i**2}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

### 6. terate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [24]:
list = ['Python', 'Numpy','Pandas','Django', 'Flask']
for item in list:
    print(item)

Python
Numpy
Pandas
Django
Flask

### 7. Use for loop to iterate from 0 to 100 and print only even number

In [25]:
for number in range(1, 100):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

### 8. Use for loop to iterate from 0 to 100 and print only odd numbers

In [26]:
for number in range(1, 100):
    if number % 2 != 0:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercises: Level 2


### 1. Use for loop to iterate from 0 to 100 and print the sum of all numbers

#### The sum of all numbers is 5050.

In [27]:
total = 0
for number in range(1, 100):
    total += number
print(f"The sum of all numbers is {total}")

The sum of all numbers is 4950

### 2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

##### The sum of all evens is 2550. And the sum of all odds is 2500.

In [28]:
total_even = 0
total_odd = 0
for number in range(1, 100):
    if number % 2 != 0:
        total_odd += number
    else:
        total_even += number
print(f"The sum of all evens is {total_even}. And the sum of all odds is {total_odd}.")

The sum of all evens is 2450. And the sum of all odds is 2500.

# Exercises: Level 3
- This is done inside the python file