# Module 5 Tuple Assigment
## Level 1

### 1. Create an empty tuple.

In [54]:
empty_tuple = ()

### 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine).

In [55]:
sisters = ("Aisha", "Saudat", "Mero")
brothers = ("Khalid", "Kabir")
sisters, brothers

(('Aisha', 'Saudat', 'Mero'), ('Khalid', 'Kabir'))

### 3. Join brothers and sisters tuples and assign it to siblings.

In [56]:
siblings = brothers + sisters
siblings

('Khalid', 'Kabir', 'Aisha', 'Saudat', 'Mero')

### 4. How many siblings do you have?

In [57]:
print(len(siblings))

5

### 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members.

In [58]:
family_members = siblings + ("Dad", "Mom")
family_members

('Khalid', 'Kabir', 'Aisha', 'Saudat', 'Mero', 'Dad', 'Mom')

# Level 2

### 1. Unpack siblings and parents from family_members

In [59]:
*unpacked_siblings, Dad, Mom = family_members
unpacked_siblings, Dad, Mom

(['Khalid', 'Kabir', 'Aisha', 'Saudat', 'Mero'], 'Dad', 'Mom')

### 2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [60]:
fruits = ("Pawpaw", "Sweet Melon", "Sweet Berry")
vegetables = ("Spinach", "Okro", "Lettuce")
animal_products = ("Sugar", "Milk", "Oil")
food_stuff_tp = fruits + vegetables + animal_products
food_stuff_tp

('Pawpaw',
 'Sweet Melon',
 'Sweet Berry',
 'Spinach',
 'Okro',
 'Lettuce',
 'Sugar',
 'Milk',
 'Oil')

### 3. Change the about food_stuff_tp tuple to a food_stuff_lt list.

In [61]:
food_stuff_lt = list( food_stuff_tp)
food_stuff_lt

['Pawpaw',
 'Sweet Melon',
 'Sweet Berry',
 'Spinach',
 'Okro',
 'Lettuce',
 'Sugar',
 'Milk',
 'Oil']

### 4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [62]:
middle = len(food_stuff_lt) // 2
food_stuff_lt[middle - 1 : middle + 1]

['Spinach', 'Okro']

### 5. Slice out the first three items and the last three items from food_staff_lt list

In [63]:
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]
first_three_items, last_three_items

(['Pawpaw', 'Sweet Melon', 'Sweet Berry'], ['Sugar', 'Milk', 'Oil'])

### 6. Delete the food_staff_tp tuple completely.

In [64]:
del food_stuff_tp

### 7. Check if an item exists in tuple

In [65]:
nigerian_states = ("Lagos", "Kano", "Enugu", "Rivers", "Kaduna")
"Lagos" in nigerian_states

True

In [66]:
"Kano" in nigerian_states

True