# Module 5 Set Assigment: Level 1, 2 and 3.

## Level 1

In [51]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

### 1. Find the length of the set it_companies

In [52]:
len(it_companies)

7

### 2. Add 'Twitter' to it_companies.

In [53]:
it_companies.add("Twitter")
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

### 3. Insert multiple IT companies at once to the set it_companies.

In [54]:
it_companies.update({"Xaomi", "Oppo", "Samsung"})
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oppo',
 'Oracle',
 'Samsung',
 'Twitter',
 'Xaomi'}

### 4. Remove one of the companies from the set it_companies.

In [55]:
it_companies.pop()
it_companies

{'Amazon',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oppo',
 'Oracle',
 'Samsung',
 'Twitter',
 'Xaomi'}

### 5. What is the difference between remove and discard?

- remove(item): Removes the specified item from the set. 
- discard(item): Also Removes the specified item from the set.
- The key difference is that remove(item) raises Keyerror if the item does not exist and discard(item) doesn't

# Sets Exercises: Level 2

### 1. Join A and B.

In [56]:
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

### 2. Find A intersection B.

In [57]:
A.intersection(B)

{19, 20, 22, 24, 25, 26}

### 3. Is A subset of B?

In [58]:
A.issubset(B)

True

### 4. Are A and B disjoint sets?

In [59]:
A.isdisjoint(B)

False

### 5. Join A with B and B with A.

In [60]:
AB = A.union(B)
BA = B.union(A)
print(AB)
print(BA)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

### 6. What is the symmetric difference between A and B?

In [61]:
A.symmetric_difference(B)

{27, 28}

### 7. Delete the sets completely

In [62]:
del A
del B

# Sets Exercises: Level 3

### 1. Convert the ages to a set and compare the length of the list and the set. Which one is bigger?

In [63]:
ages_set = set(age)
print(f"ages = {len(age)}")
print(f"ages_set = {len(ages_set)}")

if len(age) > len(ages_set):
    print("The ages is bigger.")
elif len(ages_set) > len(age):
    print("The age set of ages is bigger.")
else:
    print("They are equal.")

ages = 8
ages_set = 5
The ages is bigger.

###  2. Explain the difference between the following data types: string, list, tuple, and set.

- String: Immutable sequence of characters. Used for text data.
- List: Ordered, mutable collection of items. Can contain duplicates.
- Tuple: Ordered, immutable collection of items. Can contain duplicates.
- Set: Unordered, mutable collection of unique items. Does not allow duplicates.

## 3. How many unique words have been used in the sentence?

I am a teacher and I love to inspire and teach people.

In [64]:
sentence = "I am a teacher and I love to inspire and teach people."
unique_words = set(sentence.split())
len(unique_words)

10